@import "tailwindcss"; 


* {
  /* box-sizing: border-box; */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    overflow: hidden;
} 

body {
  background-image: url("/map.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.container {
  width: 80vw;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px) saturate(180%);  
  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.5);
}


